
/* header */
.header-icons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
  padding-right: 20px;
}

.icon-container {
  background: #E1E1E1;
  padding: 12px 30px;
  border-radius: 15px;
  display: flex;
  gap: 25px;
}

.icon-container img {
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.icon-container img:hover {
  transform: scale(1.15);
}

/* background card */
.profile-container {
  display: flex;
  gap: 50px;
  padding: 50px;
  background: #E1E1E1;
  max-width: 1100px;
  margin: 0 auto;
  border-radius: 40px;
}

/* left col */
.profile-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.profile-image-circle img {
  width: 250px;
  opacity: 0.5;
}

/* Connect button */
.connect-btn {
  padding: 12px 50px;
  background-color: #2C514C;
  color: #E3C0D3;
  font-size: 17px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.connect-btn:hover {
  background-color: #2C514C;
}

/* right col */
.profile-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: stretch;
}

/* top row */
.profile-top-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 100px;
}

/* name + details  */
.profile-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-name {
  font-size: 26px;
  margin: 0 0 8px 0;
  font-weight: normal;
  text-align: left;
  font-weight: bold;
}

.major,
.grad-year,
.referral {
  color: #000;
  font-size: 18px;
  margin: 5px 0;
  text-align: left;
}

/* connections */
.connections-box {
  text-align: center;
  padding-right: 30px;
}

.connections-title {
  font-size: 26px;
  font-weight: bold;
  margin: 0 0 5px 0;
}

.connections-number {
  font-size: 18px;
  margin: 0;
}

/* description box */
.profile-description {
  background: #C8C8C8;
  padding: 25px 30px;
  min-height: 120px;
  border-radius: 20px;
  font-size: 17px;
  color: #000000;
  border: 1px solid #8A8A8A;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
}

/* skills part */
.skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.skills-title {
  background: #2C514C;
  color: #E3C0D3;
  padding: 10px 28px;
  border-radius: 10px;
  font-size: 17px;
  font-family: 'Georgia', serif;
}

.skills-list {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-pill {
  background: #C8C8C8;
  padding: 8px 22px;
  border-radius: 12px;
  font-size: 15px;
}