#card {
    padding: 5px;
    background-color: #e1e1e1;
    border-radius: 10px;
    margin: 15px;
    height:350px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

}

#card .headshotShape {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 5px;
    background-color:#666666
}

h2 {
    font-size:large;
    margin:5px;
}

h3 {
    font-size: medium;
    margin:8px;
}

.gradYearBox {
    font-size:medium;
    color: #2c514c;
    background-color: #95818d;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    border-radius: 10px;
    margin:8px;
    padding:4px;

}