* {
    margin: 0;
    padding: 3px;
    box-sizing: border-box;
    background: "e3c0d3";
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:black;
    font-weight: lighter;
    text-align: center;
    align-items:center;
    justify-content:center;
    
}

#main-card input {
    width: 250px;
    height: 43px;
    border-radius: 30px;
    text-align: left;
    margin: 10px;
    background-color:#c8c8c8;
    box-shadow: 0;
    padding: 9px;
    font-size: medium;
    box-shadow: none;
}

.page-container {
    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center;     /* vertical center */
}

#main-card {
    width: 50rem;
    height: 28rem;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    background-color: #e1e1e1;
    margin: 30px;
    padding: 4rem;
    position: relative;
    
}

h1 {
    font-size: xxx-large;
    font-weight: lighter;
}

h2 {
    font-size: x-large;
    font-weight:bold;
}

#main-card button {
    background-color: #2c514c;
    color:#e3c0d3;
    margin: 8px;
    padding: 5px;
    border-radius: 10px;
    height: 40px;
    width: 110px;
    align-items: center;
    font-size: medium;
}

.input-container {
    display: flex;
    flex-direction: column; 
    width: 100%;
}

.input-row {
    display: flex;          /* label + input on one line */
    align-items: center;    /* vertically align input & label */
}

.input-row label {
    width: 100px;          /* fixed width so inputs line up */
    margin-right: 1rem;
}

.input-row input {
    flex: 1;               /* fill remaining space */
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#main-card .icon-image {
    position:absolute;
    top:15px;
    right:15px;
    width: 35px;
    height: 35px;
}

.logo-image {
    width: 30%;
    height: 25%;
    align-items:center;
    margin: 5px;
}
