* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: "e3c0d3";
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:black;
    text-align: center;
    
    align-items:center;
    justify-content:center;
    
}

.input {
    width: 100px;
    height: 30px;
    border-radius: 30px;
}

.main-card {
    width: 700px;
    height: 450px;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    background-color: #e1e1e1;
    
}

h1 {
    font-size: xxx-large;
    font-weight: lighter;
}

.button {
    background-color: green;
}